<!-- index.html (Mid_108b08883) -->
{% extends "base.html" %}
{% block title %}我有話要說{% endblock %}
{% block content %}
<div class='container'>

<form name='my form' action='/' method='GET'>
    <label for='user_id'>Your ID:</label>
    <input id='user_id' type='text' name='user_id'>
    <label for='user_pass'>Your Password:</label>
    <input id='user_pass' type='password' name='user_pass'><br/>
    <input type='submit' value='登入'>
    <input type='reset' value='清除重填'>
</form>

</div>
{% endblock %}